[submodule "ext/libvorbis"]
	path = ext/libvorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "ext/libogg"]
	path = ext/libogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "ext/libopus"]
	path = ext/libopus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "ext/opusfile"]
	path = ext/opusfile
	url = https://gitlab.xiph.org/xiph/opusfile.git
[submodule "ext/libflac"]
	path = ext/libflac
	url = https://gitlab.xiph.org/xiph/flac.git
[submodule "ext/dr_libs"]
	path = ext/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "examples/gaplay/optfetch"]
	path = examples/gaplay/optfetch
	url = https://github.com/moon-chilled/optfetch/
