syntax: glob

# Vim turds
.*.swp
.*.swo
.*.swn
.*.swm
.*.swl

# Test turds
*.exe
*.wav
*.ogg

# CMake turds
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.vcproj
*.vcxproj
Makefile
*.sln
*.suo

# Like, the actual library
*.obj
*.idb
build/
*.pdb
*.user
*.ncb
BuildLog.htm
gorilla.lib
gorillaD.lib
docs/output/*
bin/
*.ilk
*.a
*.so

#ext/libogg/include/config.h
