# Vim turds
.*.swp
.*.swo
.*.swn
.*.swm
.*.swl

*.exe
*.wav
*.ogg

# What we're here for
*.obj
*.idb
/build/
*.pdb
*.user
*.ncb
BuildLog.htm
gorilla.lib
gorillaD.lib
/docs/output/
/bin/
*.ilk
*.a
*.so
