[submodule "ext/libvorbis"]
	path = ext/libvorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "ext/libogg"]
	path = ext/libogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "ext/libopus"]
	path = ext/libopus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "ext/opusfile"]
	path = ext/opusfile
	url = https://gitlab.xiph.org/xiph/opusfile.git
[submodule "ext/libflac"]
	path = ext/libflac
	url = https://gitlab.xiph.org/xiph/flac.git
